[submodule "external/plog"]
	path = external/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
